@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gotham Pro Regular', sans-serif;
}

.header {
    font-family: 'Mossport', sans-serif;
    font-size: 64px;
    color: white;
    text-transform: uppercase;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: 5px;
    display: block;
    max-width: 90%;
    /* Reduced to 90% to prevent image from touching the edge of the screen */
    max-height: 90%;
    /* Same as above */
    object-fit: contain;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: Mossport;
    /* Гарнитура шрифта */
    src: url(../public/fonts/Mossport.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gotham Pro Bold;
    /* Гарнитура шрифта */
    src: url(../public/fonts/GothaProBol.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gotham Pro Medium;
    /* Гарнитура шрифта */
    src: url(../public/fonts/GothaProMed.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gotham Pro Light;
    /* Гарнитура шрифта */
    src: url(../public/fonts/GothaProLig.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Gotham Pro Regular;
    /* Гарнитура шрифта */
    src: url(../public/fonts/GothaProReg.otf);
    /* Путь к файлу со шрифтом */
}